<div id="<%= dom_id entry %>" data-testid="entry-<%= dom_id entry %>">
  <p>
    <strong>Text:</strong>
    <span data-testid="entry-text">
      <% if entry.use_generated_text? %>
        <%= entry.generated_text %>
      <% else %>
        <%= entry.text %>
      <% end %>
    </span>
  </p>

  <p>
    <strong>Name:</strong>
    <%= entry.name %>
  </p>
</div>
