<footer class="footer has-text-centered is-align-content-space-evenly mt-auto">
  <div>
    <%= link_to(
      "Github: bdd-workshop",
      "https://github.com/failure-driven/bdd-workshop",
      target: :_blank,
    ) %> |
    <%= link_to(
      "Github: failure-driven",
      "https://github.com/failure-driven",
      target: :_blank
    ) %> |
    <%= link_to(
      "Failure Driven Blog",
      "https://failure-driven.com",
      target: :_blank
    ) %> |
    <%= link_to(
      "Selena Small (Sessionize)",
      "https://sessionize.com/selena-small/",
      target: :_blank
    ) %> |
    <%= link_to(
      "Michael Milewski (Sessionize)",
      "https://sessionize.com/michael-milewski/",
      target: :_blank
    ) %>
  </div>
  <div>
    <%= image_tag(
      "failure-driven-logo-black.png",
      alt: "BDD Workshop Logo",
      class: "logo-icon",
      size: "32x32",
    ) %>
    © 2025 failure-Driven
  </div>
</footer>