<% if notice %>
  <div class="notification">
    <button class="delete"></button>
    <%= notice %>
  </div>
<% end %>

<div>
  <p>
    <%= link_to entries_path, entries_path %>
  </p>
  <p>
    <%= link_to guestbook_with_ai_entries_path, guestbook_with_ai_entries_path %>
  </p>
  <p>
    <%= link_to guestbook_with_ai_full_entries_path, guestbook_with_ai_full_entries_path %>
  </p>
  <p>
    <%= link_to messages_path, messages_path %>
  </p>
  <p>
    <%= link_to seed_index_path, seed_index_path %>
  </p>
</div>
