<div id="<%= dom_id entry %>">
  <p>
    <strong>Title:</strong>
    <%= entry.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= entry.text %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= entry.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= entry.date %>
  </p>

</div>
