<%= form_with(model: guestbook_entry) do |form| %>
  <% if guestbook_entry.errors.any? %>
    <div style="color: red" data-testid="error-message">
      <h2><%= pluralize(guestbook_entry.errors.count, "error") %> prohibited this guestbook_entry from being saved:</h2>

      <ul>
        <% guestbook_entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body, class: "label" %>
    <%= form.text_area :body, class: "textarea", rows: "3"  %>
  </div>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class: "input" %>
  </div>

  <div class="control">
    <%= form.submit class: "button is-link" %>
  </div>
<% end %>
