<p style="color: green"><%= notice %></p>

<%= render @guestbook_entry %>

<div class="field">

  <p class="control">
    <%= button_to "Generate AI body",
      generated_guestbook_entries_path(generated_guestbook_entry: { guestbook_entry_id: @guestbook_entry.id }),
      method: :post,
      class: "button is-link",
      data: { testid: "generate-ai-body" }
    %>
  </p>
  <p class="control">
    <%= link_to "Edit this guestbook entry", edit_guestbook_entry_path(@guestbook_entry), class: "button" %>
  </p>
  <p class="control">
    <%= link_to "Back to guestbook entries", guestbook_entries_path, class: "button" %>
  <p class="control">
    <%= button_to "Destroy this guestbook entry", @guestbook_entry, method: :delete, class: "button is-danger" %>
  </p>
</div>
