<%= form_with(model: message) do |form| %>
  <% if message.errors.any? %>
    <article class="message is-danger" data-testid="error-message">
      <div class="message-body">
        <h2 class="subtitle"><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

        <ul>
          <% message.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </article>
  <% end %>

  <% unless message.generated_text.present? %>
    <div>
      Message still being generated. <%= link_to "refresh", edit_message_path(message), class: "button is-success" %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text, class: "label" %>
    <div class="control">
      <%= form.text_field :text, class: "input" %>
    </div>
  </div>

  <% if message.generated_text.present? %>
    <div class="field">
      <%= form.label :generated_text, class: "label" %>
      <div class="control">
        <%= form.text_field :generated_text, class: "input" %>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <div class="control">
      <%= form.text_field :name, class: "input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit class: "button is-link" %>
    </div>
  </div>
<% end %>
