<div id="<%= dom_id message %>" class="card-content" data-testid="message-<%= dom_id message %>">
  <p>
    <strong>Text:</strong>
    <% if message.generated_text.present? %>
      <span data-testid="generated-text"><%= message.generated_text %></span>
    <% else %>
      <span data-testid="message-text"><%= message.text %></span>
    <% end %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= message.name %>
  </p>

</div>
