<p style="color: green"><%= notice %></p>

<div class="card">
  <%= render @message %>
</div>

<div>
  <%= link_to "Edit this message", edit_message_path(@message), class: "button" %>
  <%= link_to "Back to messages", messages_path, class: "button" %>

  <%= button_to "Destroy this message", @message, class: "button is-danger mt-2", method: :delete %>
</div>
